        *{
			margin: 0;
			padding: 0;
	     }   
		#top{
			width: 100%;
			height: 42px;
			background: #fff;
			position: fixed;
			
		}
		.top_left .left{
			float: left;
			margin-top: 0;
			margin-left: 20px;
		}
		.search_text1{
			float: left;
			margin-top:10px;
			margin-left: 10px;
			font_size:20px;
			height: 20px;
			background:url(images/search_btn.gif) no-repeat right;
		    background-color:#fafafa;
		}

		
		
		.top_search{
			text-align: center;
			margin-top: 0;
		}
		.search_text2{
			float: right;
			margin-top: -28px;
		}
		.search_text3{
			float: right;
			margin-top: -28px;
			margin-right: 44px;
		}
            h2{
                  font-size: 12px;
                  font-weight: 400;
                  width: 236px;
                  height: 40px;
                  line-height: 40px;
                  background: #fff;
                  margin-top: -3px;

            }
            #main{
                  overflow: hidden;
                  
                  width: 100%;
                  height: 1500px;
                   column-count:3;
                  -webkit-column-count:3;
                  -moz-column-count:3;
                   -o-column-count:3;
    
                  column-width:px;
                   -webkit-column-width:34px;
                  -moz-column-width:34px;
                   -o-column-width:34px;
                  background: #efefec;
            }
           
		
            .content{
                  padding-left: 140px;
                  padding-top: 65px;
                  
            }
            .content ul , .content_center ul  , .content_center_r ul ,.content_rr ul{
                  width: 236px;
                  border: 1px solid gray;
                  list-style: none;
                  

            }
            .content li{
                  text-align: center;
            }
            .content dt{
                  padding-top: 13px;
                  margin-left: -163px;
            }
            .content a, .content_center a ,.content_center_r a ,.content_rr a{
                  text-align: center;
                  text-transform: none;
                  color: #9e7e7d;
                  font-size: 12px;

            }
            .content dd ,.content_center dd ,.content_center_r dd  
            .content_rr dd{
                  font-size: 12px;
                 text-align: center;
                 position: relative;
                 top: -28px;
                 left: 9px;

            }

            .content_center{
                  padding-top: 69px;
                  margin-left: -78px;
            }
            

            
            .content_center dt  .content_center_r dt .content_rr dt{
                  padding-top: 16px;
                  margin-left: 20px;

            }
           
           
            .content_center_r{
                  padding-top: 70px;
                  margin-left: -294px;           
               }
               
            .content_rr{
                  padding-top:72px;
                  margin-left: -510px;
            }
             #footer{
                  width: 100%;
                  height: 60px;
                  line-height: 60px;
                 text-align: center;
            }


            