html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
ul,li,div,p,body{margin:0;padding:0;text-align:left;}
body, html {background:#000;text-align: left;height: 100%;width: 100%;}
#wrap
{
	position: relative;
	height: 100%
}
.sports
{
	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
	left: 50%;
	top: 12%;
	z-index: 2;
	opacity: 0;
}
.sports_1
{
	width: 27px;
	height: 27px;
	margin-left: -55px;
    margin-top: 278px;
	-webkit-animation:plan_0 0.4s 4s linear forwards;
	-ms-animation:plan_0 0.4s 4s linear forwards;
	-moz-animation:plan_0 0.4s 4s linear forwards;
	animation:plan_0 0.4s 4s linear forwards;
}
.sports_1 span 
{
	width: 27px;
	height: 27px;
	display: block;
	animation:plan_2 13s 3s ease-in-out infinite;
	-webkit-animation:plan_2 16s 4s ease-in-out infinite;
	-ms-animation:plan_2 16s 4s ease-in-out infinite;
	-moz-animation:plan_2 16s 4s ease-in-out infinite;
}
.sports_1 i 
{
	width: 15px;
	height: 15px;
	border-radius: 15px;
	display: block;
	background: #1ddbdd;
	background-size: 100% 100%;
	animation:plan_1 17s 0s ease-in-out infinite;
	-webkit-animation:plan_1 16s 0s ease-in-out infinite;
	-ms-animation:plan_1 16s 0s ease-in-out infinite;
	-moz-animation:plan_1 16s 0s ease-in-out infinite;

}


.sports_2
{
	width: 27px;
	height:27px;
	margin-left: 124px;
    margin-top: 90px;
	animation:plan_0 0.5s 2.5s linear forwards;
	-webkit-animation:plan_0 0.5s 2.5s linear forwards;
	-ms-animation:plan_0 0.5s 2.5s linear forwards;
	-moz-animation:plan_0 0.5s 2.5s linear forwards;
}
.sports_2 span
{
	width: 27px;
	height: 27px;
	display: block;
	animation:plan_5 10s 0s ease-in-out infinite;
	-webkit-animation:plan_5 10s 0s ease-in-out infinite;
	-ms-animation:plan_5 10s 0s ease-in-out infinite;
	-moz-animation:plan_5 10s 0s ease-in-out infinite;
}
.sports_2 i
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	display: block;
	background: red;
	background-size: 100% 100%;
	animation:plan_6 10s 2.5s ease-in-out infinite;
	-ms-animation:plan_6 10s 2.5s ease-in-out infinite;
	-moz-animation:plan_6 10s 2.5s ease-in-out infinite;
	-webkit-animation:plan_6 10s 2.5s ease-in-out infinite;
}

.background_1
{
	width: 280px;
	height: 280px;
	position: absolute;
	top: 12%;
	left: 50%;
	margin-left: -149px;
    margin-top: 8px;
	border: 1px solid blue;
	border-radius: 280px;
	transform:scale3d(1,0.3,1);
	-ms-transform:scale3d(1,0.3,1);
	-moz-transform:scale3d(1,0.3,1);
	-webkit-transform:scale3d(1,0.3,1);
}
.background_2
{
	width: 320px;
	height: 320px;
	position: absolute;
	top: 12%;
	left: 50%;
	margin-left: -160px;
    margin-top: -30px;
	transform:rotate(4deg);
	-ms-transform:rotate(4deg);
	-moz-transform:rotate(4deg);
	-webkit-transform:rotate(4deg);
}
.background_2 span
{
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid blue;
	border-radius: 280px;
	transform:scale3d(0.32,1,1);
	-ms-transform:scale3d(0.32,1,1);
	-moz-transform:scale3d(0.32,1,1);
	-webkit-transform:scale3d(0.32,1,1);


}


@-webkit-keyframes plan_0{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }   
}
@keyframes plan_0{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }  
}
@-ms-keyframes plan_0{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }  
    } 
@-moz-keyframes plan_0{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }   
} 
/**/
@-webkit-keyframes plan_1{
    0%,100%{
        -webkit-transform: translateY(0px);
    }
    50%{
        -webkit-transform: translateY(-350px);
    }
}
@keyframes plan_1{
    0%,100%{
        transform: translateY(0px);
    }
    50%{
       transform: translateY(-350px);
    }
}
@-ms-keyframes plan_1{
    0%,100%{
        -ms-transform: translateY(0px);
    }
    50%{
        -ms-transform: translateY(-350px);
    }
}
@-moz-keyframes plan_1{
    0%,100%{
        -moz-transform: translateY(0px);
    }
    50%{
        -moz-transform: translateY(-350px);
    }
}
/**/
@-webkit-keyframes plan_2{
    0%,100%{
        -webkit-transform: translateX(0px) scale(0.8);
    }    
    50%{
        -webkit-transform: translateX(100px) scale(1);
    }
}

@keyframes plan_2{
    0%,100%{
        transform: translateX(0px) scale(0.8);
    }    
    50%{
        transform: translateX(100px) scale(1);
    }
}
@-ms-keyframes plan_2{
    0%,100%{
        -ms-transform: translateX(0px) scale(0.8);
    }    
    50%{
        -ms-transform: translateX(100px) scale(1);
    }
}
@-moz-keyframes plan_2{
    0%,100%{
        -moz-transform: translateX(0px) scale(0.8);
    }    
    50%{
        -moz-transform: translateX(100px) scale(1);
    }
}
    /**/

/**/
@-webkit-keyframes plan_5{
    0%,100%{
        -webkit-transform: translateX(0px);
    }
    50%{
        -webkit-transform: translateX(-265px);
    }
}
@keyframes plan_5{
    0%,100%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-265px);
    }
}
-ms-@keyframes plan_5{
    0%,100%{
        -ms-transform: translateX(0px);
    }
    50%{
        -ms-transform: translateX(-265px);
    }
}
-moz-@keyframes plan_5{
    0%,100%{
        -moz-transform: translateX(0px);
    }
    50%{
        -moz-transform: translateX(-265px);
    }
}
/**/
@-webkit-keyframes plan_6{
    0%,100%{
        -webkit-transform: translateY(0px) scale(0.8);
    }    
    50%{
        -webkit-transform: translateY(80px) scale(1);
    }
}
@keyframes plan_6{
    0%,100%{
        transform: translateY(0px) scale(0.8);
    }    
    50%{
        transform: translateY(80px) scale(1);
    }
}
    @-ms-keyframes plan_6{
    0%,100%{
        -ms-transform: translateY(0px) scale(0.8);
    }    
    50%{
        -ms-transform: translateY(80px) scale(1);
    }
}
@-moz-keyframes plan_6{
    0%,100%{
        -moz-transform: translateY(0px) scale(0.8);
    }    
    50%{
        -moz-transform: translateY(80px) scale(1);
    }
}
