*{padding: 0;margin: 0;}
body{
	width: 100%;
	height: 700px;
}
.top {
	width:100%;
	height: 50px;

	
}
.top ul{
	list-style: none;
	
	
}


.top li{
	text-transform: none;
	height: 15px;
	font-size: 13px;
	font-weight: 700;
	margin-top: 25px;
	padding-left: 18px;
	float: left;
	position: relative;
	left:1023px;
	}
	.top li a{
		color: #000000;
	}
	.top a:hover{
		color: #00E;
	}
	.top_2{
		position: relative;
		left: 1040px;
		margin-top: 20px;
	}
	.main{
		width: 100%;
		height: 500px;
		
	}
	.main img{
         position: relative;
         top:80px;
         left:584px;
	}
	.main_1{
		position: relative;
		top: 110px;
		left: 418px;
		height: 32px;
		width: 500px;
		border-width:1px;
        border-style:solid;
		-moz-border-top-colors:#3385ff;
        -moz-border-right-colors:#3385ff;
        -moz-border-bottom-colors:#3385ff;
        -moz-border-left-colors:#3385ff;
		background: url(images/1.png) right no-repeat;
	}
	.main_2{
		position: relative;
		top: 75px;
		left: 919px;
	}
	.main_2 img:hover{
		background: #00E;
	}
	.footer{
		width: 100%;
		height: 219px;
		
	}
	
	.footer li {
		height: 50px;
		float: left;
		padding-left: 20px;
		position: relative;
		top: 100px;
		left: 571px;
		font-size: 12px;
		list-style: none;
     
	}
	.footer span{
		position: relative;
		top:130px;
		left:298px;
		font-size: 12px;
		color: gray; 
	}
	.footer span a{
		color: gray;
	}
	.footer_1{
		position: relative;;
		top:108px;
		left: 609px;
	}

	