*{
	margin:0;
	padding:0;
}
#body 
{
	width: 300px;
	height: 290px;
	border-radius: 150px;
	border: 7px solid #783723;
	margin: 200px auto;
}
.leaf_1
{
	width: 50px;
	height: 30px;
	border-radius: 40px ;
	background: #82d355;
	border:6px solid #783723;
	transform:rotate(30deg);
	position: absolute;
	top: 128px;
	left: 730px;
}
.leaf_2
{
	width: 50px;
	height: 30px;
	border-radius: 40px ;
	background: #82d355;
	border:6px solid #783723;
	
	position: absolute;
	top: 146px;
	left: 783px;
}
.branch
{
	width: 6px;
	height: 56px;
	position: absolute;
	top: 157px;
	left: 770px;
	background: #783723;
	transform:rotate(30deg);
}
.eyebrow_1
{
	width: 35px;
	height: 7px;

	position:absolute;
	top: 317px;
	left: 642px;
	background: #783723;
	transform:rotate(25deg);
	-moz-transform:rotate(25deg);
	-ms-transform:rotate(25deg);
	-webkit-transform:rotate(25deg);
}
.eyebrow_2
{
	width: 35px;
	height: 7px;
	position: absolute;
	top: 317px;
	left: 741px;
	background: #783723;
	transform:rotate(-25deg);
	-moz-transform:rotate(-25deg);
	-webkit-transform:rotate(-25deg);
	-ms-transform:rotate(-25deg);
}
.eyes_1
{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #783723;
	position: absolute;
	top: 343px;
	left: 633px;
}
.eyes_2
{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #783723;
	position: absolute;
	top: 343px;
	left: 737px;
}
.nose_1
{
	height: 30px;
	width: 30px;
	border-radius: 30px;
	border-bottom: 7px solid #783723;
	border-left: 7px solid #783723;
	position: absolute;
	top: 395px;
	left: 684px; 
	transform:rotate(-30deg);
	-moz-transform:rotate(-30deg);

}
.nose_2
{
	height: 30px;
	width: 30px;
	border-radius: 30px;
	border-bottom: 7px solid #783723;
	border-left: 7px solid #783723;
	position: absolute;
	top: 405px;
	left: 713px; 
	transform:rotate(-30deg);
	-moz-transform:rotate(-30deg);
}
.face_1
{
	width: 35px;
	height: 20px;
	border-radius: 40px;
	background: #fdc9b1;
	position: absolute;
	top: 416px;
	left: 625px;
}
.face_2
{
	width: 35px;
	height: 20px;
	border-radius: 40px;
	background: #fdc9b1;
	position: absolute;
	top: 416px;
	left: 762px;
}
